<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
      html, body, .map {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
  </head>
  <body>
    <div id="map" class="map"></div>
    <input id="plotInfo" type="text" value="<%=plotInfo %> "/>
    <script type="text/javascript">
        const plotGeo =  document.getElementById("plotInfo").value;
        console.log(plotGeo);
      //console.log(plotInfo);
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View()
      });

     


       var data = {"type":"MultiPolygon","coordinates":[[[[4046.137459764,-2878.714050774],[4014.873859615,-2873.018287875],[3971.718316001,-2867.722415084],[3939.301623603,-2865.072573053],[3914.316827077,-2859.209277177],[3846.534808558,-2846.816429934],[3802.442194746,-2836.671482232],[3822.019875457,-2796.044405241],[3848.384732795,-2732.099802185],[3874.151042427,-2676.253161509],[3895.026300793,-2611.971703364],[3918.28929954,-2553.516381049],[3947.169831119,-2486.771113005],[4004.175654468,-2503.78604411],[4064.735942756,-2522.756743693],[4102.229970925,-2537.668629483],[4101.264122211,-2547.624798289],[4102.267962026,-2581.728831568],[4103.472529562,-2621.230148818],[4106.034159702,-2646.297371179],[4107.286034321,-2658.547781159],[4111.296041379,-2695.657545389],[4113.600949346,-2721.897436354],[4115.104193936,-2760.055480338],[4119.452871125,-2838.399779034],[4119.038017056,-2868.697578841],[4061.185116927,-2877.200944262],[4046.137459764,-2878.714050774]]]]};

      var geometry = new ol.format.GeoJSON().readGeometry(plotGeo);

      map.addLayer(
        new ol.layer.Vector({
          source: new ol.source.Vector({
            features: [new ol.Feature(geometry)]
          })
        })
      );

      map.getView().fit(geometry);

    </script>
  </body>
</html>