<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css" type="text/css">
    <style>
      html, body, .map {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
  </head>
  <body>
    <div id="map" class="map"></div>
    <script type="text/javascript">

      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View()
      });

 var data = {"type":"MultiPolygon","coordinates":[[[[4760.206326796,-2211.919485991],[4760.697678716,-2193.734094005],[4765.586955233,-2128.373709866],[4794.874913789,-2121.764361139],[4841.15660061,-2119.116349086],[4893.478877432,-2127.618177382],[4880.73239832,-2190.782125336],[4878.410216894,-2215.703758878],[4835.791772161,-2219.977792669],[4814.492285253,-2200.464712909],[4760.206326796,-2211.919485991]]]]}

      var geometry = new ol.format.GeoJSON().readGeometry(data);

      map.addLayer(
        new ol.layer.Vector({
          source: new ol.source.Vector({
            features: [new ol.Feature(geometry)]
          })
        })
      );

      map.getView().fit(geometry);

    </script>
  </body>
</html>



<!-- 
    Special Query :=> 
With Query AS (SELECT geom as GeomData FROM borolekh WHERE plot_no_en = 1)
select ST_AsGeoJSON(ST_GeneratePoints(GeomData,100)) FROM Query;
-->


<!-- With P AS(SELECT geom as plotGeo FROM borolekh Where plot_no_en = 1),
Q AS (SELECT ST_Buffer(P.plotGeo,100,'endcap=round join=round') AS BufferValue FROM P)
SELECT ST_AsGeoJSON(ST_GeneratePoints(Q.BufferValue,12,1996))FROM Q  -->